body{
  background-color: rgb(38, 37, 37);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  font-size: 50px;
  margin-bottom: 15px;

}
.buttons{
  display: flex;
  flex-direction: row;
}
.js-button{
  font-size: 25px;
  margin-right: 10px;
  background-color: aqua;
  border: solid;
  border-radius: 10px;
  cursor: pointer;
}